.open_sans {
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
/* //shared styles
  */
.secondary_bg {
  background-color: #fff8f3;
}
.text_primary {
  color: #fd6e0a;
}
.dark-2 {
  color: rgba(71, 71, 71, 1);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.btn-primary {
  background-color: #fd6e0a;
  color: #ffffff;
  font-weight: bold;
  padding: 18px 35px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav li a {
  text-decoration: none;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav ul {
  display: flex;
  align-items: center;
}
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* //banner styles */
.text-center {
  text-align: center;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0px 35px 0 230px;
}
.banner-subtitle {
  font-size: 45px;
  font-weight: 600;
}
.banner-content {
  max-width: 580px;
}
.banner-title {
  font-size: 85px;
  font-weight: bold;
}
.banner-describe {
  font-size: 18px;
  color: rgba(117, 117, 117, 1);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.profile-img {
  width: 580px;
}
/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section title */
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #000000;
}
.section-description {
  color: rgba(117, 117, 117, 1);

  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.about-items {
  display: flex;
  justify-content: space-around;
  color: rgba(117, 117, 117, 1);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.item-describetion {
  font-weight: 800;
}
/* skills */
.skills-contrainer {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.skill-describption {
  color: rgba(117, 117, 117, 1);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin: auto;
}
.skill-title{
  font-size: 25px;
  font-weight: 600;
  margin: 15px 0;
}